@media screen and (min-width: 1024px) {
  .button {
    background: none;
    border: none;
    color: white;
    padding: 0 1.5rem;
  }

  .categories {
    height: auto;
    display: grid;
    grid: auto-flow / 1fr 1fr;
    grid-gap: 1rem;
  }

  .categorie {
    text-transform: capitalize;
    font-weight: 500;
  }
}
