{
  "extends": ["next", "prettier"],
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["@components", "./components"],
          ["@Bulma", "./components/Bulma"],
          ["@Auth", "./components/Auth"],
          ["@hooks", "./hooks"],
          ["@lib", "./lib"],
          ["@utils", "./utils"]
        ],
        "extensions": [".js", ".ts", ".jsx", ".tsx"]
      }
    }
  }
}
