{
  "extends": ["next","prettier"],
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["@components", "./components"],
          ["@Bulma", "./components/Bulma"],
          ["@Auth", "./components/Auth"],
          ["@hooks", "./hooks"],
          ["@graphql", "./graphql"],
          ["@lib", "./lib"],
          ["@framework", "./framework"]
        ],
        "extensions": [".js", ".jsx"]
      }
    }
  }
}
