{
  "env": {
    "browser": true,
    "es2020": true
  },
  "extends": ["plugin:react/recommended", "airbnb", "prettier"],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 12,
    "sourceType": "module"
  },
  "plugins": ["react"],
  "rules": {
    "no-new": 0,
    "no-console": 0,
    "no-shadow": 0,
    "no-underscore-dangle": 0,
    "react/react-in-jsx-scope": 0,
    "react/jsx-props-no-spreading": 0,
    "react/jsx-filename-extension": 0,
    "react/prop-types": 0
  },
  "settings": {
    "import/resolver": {
      "alias": {
        "map": [
          ["@components", "./components"],
          ["@Bulma", "./components/Bulma"],
          ["@Auth", "./components/Auth"],
          ["@hooks", "./hooks"],
          ["@graphql", "./graphql"],
          ["@lib", "./lib"],
          ["@framework", "./framework"]
        ],
        "extensions": [".js", ".jsx"]
      }
    }
  }
}
