:root {
  --malachite: #04e762ff;
  --carolina-blue: #00a1e4ff;
  --raisin-black: #252323ff;
  --lavender-blush: #f5e6e8ff;
  --orange-yellow: #f5b700ff;
  --ghost-white: #f7f7ffff;
  --snow: #fffcffff;
  --platinum: #ebebebff;
}
